$color_main_text: #505050;
$background_color: #00CDD1;
$background_color_right_side: #14c5c9;
$color_text_white: #FFFFFF;
$color_border_section_audience: #CFCFCF;
$background_color_benefits: #F5F5F5;
$color_font_form: #CFCFCF;
$color_form_input: #d2cece;
$color_form_input_active: #9a9999;
$color_active_label: #00CBCF;
$color_error_label: #E48282;
$color_bg_footer: #7A7A7A;
