@import "../variables";
@import "../mixin";


.benefits_block {
  display: flex;
}

//*******************************

.ben_description, .ben_picture {
  //border: 1px solid black;
  width: 50%;
  height: 450px;
}

.ben_description {
  padding: 100px 70px 0 120px;

  .ben_picture + & {
    padding: 100px 120px 0 70px;
  }
}


.ben_picture {
  @include flex_set(flex, null, center, center);
  background: $background_color_benefits;
}

@include respond-to(tablet) {

  .ben_description {
    padding: 70px 30px 0 50px;

    .ben_picture + & {
      padding: 70px 50px 0 30px;
    }
  }
}

@include respond-to(mobile) {

  .benefits_block {
    flex-direction: column;

    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }

  .ben_description, .ben_picture {
    width: 100%;
    height: auto;
  }

  .ben_description {
    padding: 70px 15px 30px;

    .ben_picture + & {
      padding: 70px 15px 30px;
    }
  }

  .ben_picture {
    padding: 50px 0;
  }
}

//***************************

.benefits_heading {
  margin-bottom: 20px;
}

.benefits_text {
  line-height: 1.5;
}