.backOnTopButton {
  position: fixed;
  right: 15px;
  bottom: -100px;
  width: 70px;
  height: 70px;
  background-color: #5c6b63;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
  &.active {
    bottom: 50px;
  }
}
